@font-face {
    font-family: 'frizqt';
    src: url('../fonts/frizqt.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'frizqt', 'lato', 'sans-serif';
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-shift {
    margin-left: 3em;
    margin-right: 1em;
}
